<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConn" providerName="Npgsql" connectionString="Host=167.86.97.216;Username=postgres;Password=EtYAAAzV0mvuKKmTeAynyUQM5SSJTT092YBDnZjLTKqsHErUxjL2cBZEdpUraGud;Database=AspireHR" />
  </connectionStrings>
</configuration>